@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,500;1,700&display=swap');

:root {
    --boschblue: #4c76bb;
    --black: #333;
    --white: #fff;
    --white-header: rgb(226, 226, 226);
    --light-bg: #caf0f8;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --darkblue: #03045e;
    --red: #FF0000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

/*Register Style */
.message {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap: 1.5rem;
}

.message span {
    font-size: 2rem;
    color: var(--black);
}

.message i {
    cursor: pointer;
    color: var(--red);
    font-size: 2.5rem;
}

.message i:hover {
    transform: rotate(90deg);
    transition: 1s ease;
}

.btn, .option-btn, .delete-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.btn {
    background-color: var(--darkblue);
}

.delete-btn {
    background-color: var(--red);
}

.btn:hover, .option-btn:hover, .delete-btn:hover {
    background-color: var(--black);
}

.formContainer {
    min-height: 100vh;
    background-image: url("../images/merc_driver.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.formContainer form {
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--boschblue);
    opacity: .8;
    border-color: var(--darkblue);
    text-align: center;
}

.formContainer form h3 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white);
}

.formContainer form .box {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0;
}

.formContainer form .flogo {
    margin-bottom: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.formContainer form p {
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.formContainer form p a {
    color: var(--darkblue);
    text-decoration: none;
}

.formContainer form p a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------- Nav Bar All Pages ------------------------------------------------------ */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #4c76bb;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.logo h6 {
    color: rgb(226, 226, 226);
    font-size: 12px;
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.logoImg {
    position: absolute;
    left: 1rem;
    align-items: center;
    height: 50px;
    width: 50px;
}

.slider {
    height: auto;
    width: 100%;
}


.sliderItem {
    position: relative;
    align-items: center;
    justify-content: center;
}

.sliderImg {
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderTitle {
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: #4c76bb;
    top: 10%;
    left: 20;
}

/* -------------------------------------------------------- Intro Home Page ----------------------------------------------- */
.intro {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.introTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.introHeading {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .5;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.introSubHeading {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.introPara {
    font-size: 30px;
    margin-bottom: 1rem;
}


/* --------------------------------------------------- Service Banner --------------------------------------------------- */
.services {
    height: 100vh;
    background-color: var(--boschblue);
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.serviceSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

.serviceCard {
    height: 50vh;
    width: 20%;
    border-radius: 20%;
    border: var(--border);
    margin-right: 2rem;
    background-color: var(--white);
    opacity: .9;
}

.serviceImg {
    height: 50%;
    width: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-items: center;
    background-size: cover;
}

.serviceType {
    font-size: 32px;
    letter-spacing: .2rem;
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px 30px;
}

.serviceLearn {
    font-size: 20px;
    letter-spacing: .2rem;
    text-transform: capitalize;
    padding-left: 30px;
    bottom: 2;
}

.serviceCard a {
    text-decoration: none;
    color: var(--darkblue);
}

.serviceCard a:hover {
    text-decoration: underline;
}

/* -------------------------------------- List Section Home Page ---------------------------------------- */

.listSection {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    position: relative;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.list2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.listBox {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.iconbox {
    min-width: 20px;
    height: 20px;
    background-color: var(--boschblue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
}

.listBox h2 {
    font-size: 24px;
    letter-spacing: .5rem;
    color: gray;
    font-weight: 500;
}

/* ----------------------------------------------- Year Section Home Page ------------------------------------------------- */

.yearSection {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:rgba(0,0,0,0.7)url(../images/bosch_working_2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.yearText {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.yearText .text h3 {
    font-size: 62px;
    font-weight: bold;
    color: var(--white-header);
    text-transform: capitalize;
}

.yearText .text p {
    font-size: 25px;
    font-weight: 300;
    color: var(--white-header);
    z-index: 1;
}

.yearText .jacq {
    width: 80%;
}

.yearText .jacq img {
    width: 100%;
    height: auto;
}



/* ----------------------------------------- Why choose us  Home Page -------------------------------------------------------*/

.choose {
    height: 120vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.choose h2 {
    font-size: 62px;
    color: var(--boschblue);
    font-weight: 500;
    text-transform: capitalize;
}

.choose p {
    font-size: 20px;
    color: var(--darkblue);
    font-weight: 300;
}

.chooseSection {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.chooseSection .item {
    width: 25%;
}

.chooseSection .item img {
    height: 120px;
    width: 140px;
}

.chooseCertif {
    margin-top: 40px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.chooseCertif .certif {
    width: 25%;
}

.chooseCertif .certif img {
    width: 100%;
    height: auto;
}

/* --------------------------------------------- Service Banner Home Page ------------------------------------------------- */

.serviceBanner {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.7)url(../images/servicing_car.avif);
    background-size: cover;
    background-blend-mode: darken;
}

.serviceBanner h2 {
    font-size: 62px;
    font-weight: bold;
    color: var(--white-header);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.serviceBanner p {
    font-size: 25px;
    font-weight: 300;
    color: var(--white-header);
    margin-bottom: 20px;
}


.serviceBtn {
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: var(--darkblue);
    color: white;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 15%;
    border: none;
}

.serviceBtn:hover {
    background-color: var(--white);
    color: var(--boschblue);
    transition: .5s ease;
}

/* --------------------------------------------- Reviews Home Page ------------------------------------------------------- */

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reviews h2 {
    margin-bottom: 20px;
    font-size: 62px;
    font-weight: bold;
    color: var(--boschblue);
}

.reviewItems {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    border-left: 5px solid var(--boschblue);
}

.review {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    padding: 0 20px;
}

.review img {
    height: 60px;
    width: 60px;
    color: var(--boschblue);
}

.review h3 {
    font-size: 25px;
    font-weight: 300;
    color: var(--darkblue);
}

.review h6 {
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
}







/*   ------------------------------------------  Contact Page  -------------------------------------------------------------  */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}


.contact img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    z-index: 0;
}

.content {
    z-index: 1;
    max-width: 800px;
    text-align: center;
    text-transform: capitalize;
}

.content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--white-header);
}

.content p {
    font-weight: 300;
    color: var(--white-header);
}

.contactContainer {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactContainer .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactContainer .contactInfo .box {
    position: relative;
    padding: 10px 0;
    display: flex;
}

.contactContainer .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactContainer .contactInfo .box .text {
    display: flex;
    font-size: 16px;
    color: var(--white);
    flex-direction: column;
    font-weight: 300;
    padding-left: 10px;
}

.contactContainer .contactInfo .box .text h3 {
    font-weight: 500;
    color: var(--boschblue);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: var(--white);
}

.contactForm h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--boschblue);
    text-transform: capitalize;
}

.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--darkblue);
    outline: none;
    resize: none;
}

.contactForm .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span, 
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:valid ~ span {
    color: var(--boschblue);
    font-size: 12px;
    transform: translateY(-19px);
}

.contactForm .inputbox input[type="submit"] {
    width: 100px;
    background: var(--boschblue);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* --------------------------------------- Quote Page ----------------------------------------------------------- */
/* ----------------------------------------Quote Section --------------------------------------------------------*/

.sectionQuote {
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7)url(../images/quote_img.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionQuote .quoteForm {
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: var(--white);
    opacity: .8;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.sectionQuote .quoteForm .form-group label {
    font-size: 18px;
    font-weight: bold;
    color: var(--darkblue);
    margin-bottom: 2px;
}

.sectionQuote .quoteForm .form-group select {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}



#loading img {
    width: 200px;
    height: 200px;
    display: none;
    margin: 0 auto;
}

.error {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: var(--white);
    font-weight: bold;
    border: 1px solid black;
    margin-bottom: 10px;
}

.content-form {
    margin-top: 30px;
}

#result {
    margin-bottom: 10px;
}

#result div {
    border: 1px solid var(--boschblue);
    text-align: center;
    padding: 0  0 20px 0;
}

#result div p {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 12px;
}

#result div p.header {
    background-color: var(--boschblue);
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.book-quote {
    font-size: 32px;
    text-decoration: none;
    color: var(--darkblue);
    display: none;
}

.book-quote:hover {
    text-decoration: underline;
}

#result div p.total {
    font-weight: bold;
}

.form-check-label label {
    font-weight: 300;
    color: black;
}


@media screen and (max-width:1024px) {
    .nav-links {
        width: 50%;
    }
    .contact {
        padding: 50px;
    }

    .contactContainer {
        flex-direction: column;
    }

    .contactContainer .contactInfo{
        margin-bottom: 40px;
    }

    .contactContainer .contactForm {
        width: 100%;
    }

    .contact img {
        opacity: 0;
    }

    .sectionQuote .quoteForm {
        height: 100%;
        width: 100%;
    }
}


/* ------------------------------------- About Page ---------------------------------------------- */
.about {
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7)url(../images/tyre_change.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.about-content img {
    height: 30vh;
    width: 15vw;
}

.about-content h3 {
    font-size: 62px;
    color: var(--white-header);
    text-transform: uppercase;
    font-weight: bold;
}

.about-content p {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    color: var(--white);
}

.about-content a.contactButton {
    padding: .5rem 1.2rem;
    justify-content: center;
    background-color: var(--boschblue);
    color: var(--white-header);
    border: 3px solid var(--darkblue);
    font-size: 30px;
    text-decoration: none;
}

.about-content a.contactButton:hover {
    background-color: var(--white);
    color: var(--boschblue);
}

.whatDo {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.whatDo h3 {
    font-size: 62px;
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 20px;
}

.whatDo .whatDo-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.whatDo .whatDo-icons img {
    height: 20vh;
    width: 20vw;
}

.offer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer h3 {
    font-size: 62px;
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 20px;
}

.offer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.offer-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    width: 25%;
}

.offer-items h3 {
    font-size: 45px;
    color: var(--darkblue);
    font-weight: 700;
    letter-spacing: .5px;
}

.offer-items p {
    font-size: 22px;
    font-weight: 300;
    color: black;
}




/* Footer */

.footer {
    position: relative;
    min-height: 30vh;
    width: 100%;
    background-color: #4c76bb;
}

.footHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.footHeading h2 {
    font-size: 32px;
    color: var(--white-header);
    font-weight: bold;
    text-transform: capitalize;
}

.footHeading p {
    font-size: 16px;
    color: var(--white-header);
    font-weight: 300;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socialBox {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.socialBox:hover {
    background-color: var(--darkblue);
    color: var(--white);
    transition: .5s ease;
}

.footClose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footClose h2 {
    font-size: 16px;
    font-weight: 300;
    color: var(--white-header);
    text-transform: capitalize;
}


@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
    }
   .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: #4c76bb;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       z-index: 10000;
   }

   .nav-links li {
       opacity: 0;
   }
   .burger {
       display: block;
       cursor: pointer;
   }

   .logo h6 {
    display: none;
}

   .nav-active {
    transform: translateX(0%);
}

.logoImg {
    display: none;
}

.review {
    flex-direction: column;
}


}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translate(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* ----------------------------------- Booking Page --------------------------------------- */
table {
    table-layout: fixed;

}

td {
    width: 33%;
}


.today {
    background-color: var(--darkblue);
    color: var(--white-header);
}

.buttons {
    margin-top:  50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons .but-back button {
    padding: 20px 30px;
    background-color: var(--boschblue);
    color: var(--white-header);
    font-size: 32px;
    font-weight: bold;
}




