@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,500;1,700&display=swap');

:root {
    --boschblue: #4c76bb;
    --black: #333;
    --white: #fff;
    --light-bg: #caf0f8;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --darkblue: #03045e;
    --red: #FF0000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

/*Register Style */
.message {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap: 1.5rem;
}

.message span {
    font-size: 2rem;
    color: var(--black);
}

.message i {
    cursor: pointer;
    color: var(--red);
    font-size: 2.5rem;
}

.message i:hover {
    transform: rotate(90deg);
    transition: 1s ease;
}

.btn, .option-btn, .delete-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.btn {
    background-color: var(--darkblue);
}

.delete-btn {
    background-color: var(--red);
}

.btn:hover, .option-btn:hover, .delete-btn:hover {
    background-color: var(--black);
}

.formContainer {
    min-height: 100vh;
    background-color: var(-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.formContainer form {
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--boschblue);
    border-color: var(--darkblue);
    text-align: center;
}

.formContainer form h3 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white);
}

.formContainer form .box {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0;
}

.formContainer form p {
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.formContainer form p a {
    color: var(--darkblue);
    text-decoration: none;
}

.formContainer form p a:hover {
    text-decoration: underline;
}


/*home page style*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #4c76bb;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.logo h6 {
    color: rgb(226, 226, 226);
    font-size: 12px;
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.logoImg {
    position: absolute;
    left: 10;
    align-items: center;
    height: 50px;
    width: 50px;
}

.slider {
    height: auto;
    width: 100%;
}


.sliderItem {
    position: relative;
    align-items: center;
    justify-content: center;
}

.sliderImg {
    height: 100vh;
    width: 100%;
}

.sliderTitle {
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: #4c76bb;
    top: 10%;
    left: 20;
}

/* intro */
.intro {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.introLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.introHeading {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
}

.introText {
    text-transform: capitalize;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.introRight {
    width: 100%;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    padding: 20px;
}

.card {
    height: 320px;
    width: 160px;
    border: 1px solid black;
    border-radius: 20%;
    margin-right: 10px;
}

.cardImg {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}


.cardHeading {
    font-size: 24px;
    color: black;
    font-family: 'Poppins' sans-serif;
    margin-left: 10px;
}

.cardLink {
    font-size: 16px;
    color: lightslategrey;
    text-decoration: none;
    margin-left: 10px;
}



@media screen and (max-width:1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
    }
   .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: #4c76bb;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       z-index: 1;
   }

   .nav-links li {
       opacity: 0;
   }
   .burger {
       display: block;
       cursor: pointer;
   }

   .logo h6 {
    display: none;
}

   .nav-active {
    transform: translateX(0%);
}

.logoImg {
    display: none;
}


}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translate(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




